Use_Label=false
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=rgb(143,240,164)
Color_Out=rgb(246,97,81)
Text=Net
Network_Device=en7s0u2u1u2
Max_In=5000000
Max_Out=5000000
Auto_Max=false
Update_Interval=250
Values_As_Bits=false
Digits=2

